[Desktop Entry]
Encoding=UTF-8
Name=Confluent Developer Skills for Building Apache Kafka: Exercise Book
Type=Link
URL=/home/training/guides/exercise-book-7.0.0-v1.0.1.html
Icon=text-html
